---
---

@import "{{ site.theme }}";
#main_content {
  blockquote {
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    font-size: 1.0em;
    border-left: 6px solid #aaaaaa;
  }
  ul li {
    list-style-position: inside;
    list-style: disc;
    padding-left: 6px;
  }
  
  ol li {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 6px;
  }
 }
